* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	display: block;
	text-decoration: none !important;
}

.menu {
	width: 15%;
	height: 100%;
	border: 1px solid black;
	display: inline-block;
}

.menu li {
	font-size: 20px;
}

.content {
	border: 1px solid red;
	float: right;
	display: inline-block;
	width: 85%;
	height: 100%;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #f2f2f2;
}

input::-webkit-input-placeholder {
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}