<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ownerShowAll</title>
		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../font/css/font-awesome.css">
		<script src="../js/vue.js"></script>
		<script src="../js/qs-6.9.4.js"></script>
		<script src="../js/axios-0.21.0.js"></script>
	</head>
	<body>
		<div id="app" class="d-flex flex-column">
			<!-- 搜索 -->
			<table class="table table-bordered" v-show="isShowSearchBox">
				<tr>
					<td class="bg-light-subtle text-center align-middle">ID</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="number" class="form-control" placeholder="ID" v-model="searchOwn.id">
					</td>
					<td class="bg-light-subtle text-center align-middle">业主姓名</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="text" class="form-control" placeholder="业主姓名" v-model="searchOwn.ownName">
					</td>

					<td class="bg-light-subtle text-center align-middle">业主电话</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="tel" class="form-control" placeholder="业主电话" v-model="searchOwn.ownPhone">
					</td>

					<td class="bg-light-subtle text-center align-middle">所属小区/商铺/别墅</td>
					<td class="bg-light-subtle text-center align-middle">
						<select class="form-control" v-model="searchOwn.comAddress">
							<option value="" selected>--选择--</option>
							<option v-for="(comAddress) in comAddressList" :value="comAddress">{{comAddress}}
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="bg-light-subtle text-center align-middle">房间号/地址</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="text" class="form-control" placeholder="房间号/地址" v-model="searchOwn.houseNumber">
					</td>

					<td class="bg-light-subtle text-center align-middle">家庭成员数</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="number" class="form-control" placeholder="家庭成员数" v-model="searchOwn.peopleCount">
					</td>

					<td class="bg-light-subtle text-center align-middle">设备是否安全</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="radio" name="isSafe" value="1" class="form-check-inline"
							v-model="searchOwn.isSafe">安全&nbsp;
						<input type="radio" name="isSafe" value="0" class="form-check-inline"
							v-model="searchOwn.isSafe">不安全
					</td>
					<td class="bg-light-subtle text-center align-middle">是否入户安检</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="radio" name="isCheck" value="1" class="form-check-inline"
							v-model="searchOwn.isCheck">是&nbsp;
						<input type="radio" name="isCheck" value="0" class="form-check-inline"
							v-model="searchOwn.isCheck">否
					</td>
				</tr>
				<tr>
					<td class="bg-light-subtle text-center align-middle">入户次数</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="number" class="form-control" placeholder="入户次数" v-model="searchOwn.houseCount">
					</td>
					<td class="bg-light-subtle text-center align-middle">排序</td>
					<td class="bg-light-subtle text-center align-middle">
						<input type="number" class="form-control" placeholder="排序" v-model="searchOwn.sort">
					</td>
					<td class="bg-light-subtle text-center align-middle">备注</td>
					<td class="bg-light-subtle text-center align-middle">
						<textarea cols="20" rows="2" class="form-control" placeholder="备注" style="resize: none;"
							v-model="searchOwn.notes"></textarea>
					</td>
					<td class="bg-light-subtle text-center align-middle">创建时间</td>
					<td class="bg-light-subtle text-center align-middle">
						<select class="form-control" v-model="searchOwn.createTime">
							<option value="" selected>--选择--</option>
							<option value="today">今天</option>
							<option value="yesterday">昨天</option>
							<option value="lastSevenDay">最近7天</option>
							<option value="lastThirtyDay">最近30天</option>
							<option value="currentMonth">本月</option>
							<option value="lastMonth">上月</option>
							<option value="define">自定义</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="bg-light-subtle text-center align-middle">更新时间</td>
					<td>
						<select class="form-control" v-model="searchOwn.createTime">
							<option value="" selected>--选择--</option>
							<option value="today">今天</option>
							<option value="yesterday">昨天</option>
							<option value="lastSevenDay">最近7天</option>
							<option value="lastThirtyDay">最近30天</option>
							<option value="currentMonth">本月</option>
							<option value="lastMonth">上月</option>
							<option value="define">自定义</option>
						</select>
					</td>
					<td colspan="6" class="bg-light-subtle text-center align-middle">
						<button class="btn btn-success" @click="search()">提交</button>
						<button class="btn btn-secondary" @click="reset()">重置</button>
					</td>
				</tr>
			</table>
			<!-- 功能 -->
			<div class="py-3">
				<button class="btn btn-sm btn-dark" @click="refresh()">
					<i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新
				</button>
				<button class="btn btn-sm btn-success" @click="add()">
					<i class="fa fa-plus"></i>&nbsp;&nbsp;添加
				</button>
				<button class="btn btn-sm btn-secondary" @click="selectedit()">
					<i class="fa fa-pencil"></i>&nbsp;&nbsp;编辑
				</button>
				<button class="btn btn-sm btn-danger" @click="selectremove()">
					<i class="fa fa-trash"></i>&nbsp;&nbsp;删除
				</button>
				<button class="btn btn-sm btn-primary" @click="inport()">
					<i class="fa fa-download"></i>&nbsp;&nbsp;导入
				</button>
				<button class="btn btn-sm btn-info" @click="searchBox()">
					<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
				</button>
			</div>
			<!-- 显示 -->
			<div class="card shadow">
				<table class="table table-bordered">
					<tr class="text-center">
						<th>
							<input type="checkbox" v-model="selectAll" @change="selectAllRows">
						</th>
						<th>ID</th>
						<th>业主姓名</th>
						<th>业主电话</th>
						<th>所属小区/商铺/别墅</th>
						<th>房间号/地址</th>
						<th>家庭成员数</th>
						<th>设备是否安全</th>
						<th>是否入户安检</th>
						<th>入户次数</th>
						<th>排序</th>
						<th>备注</th>
						<th>创建时间</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
					<tr v-for="(owner) in pageUtil.ownerList" :key="owner.id" class="text-center">
						<th>
							<input type="checkbox" v-model="owner.selected" @change="updateSelectAll">
						</th>
						<td>{{owner.id}}</td>
						<td>{{owner.ownName}}</td>
						<td>{{owner.ownPhone}}</td>
						<td>{{owner.comAddress}}</td>
						<td>{{owner.houseNumber}}</td>
						<td>{{owner.peopleCount}}</td>
						<td>
							<span :style="{ color: owner.isSafe === 1 ? 'green' : 'red' }">
								<i :class="owner.isSafe === 1 ? 'fa fa-check-circle' : 'fa fa-times-circle'"></i>
							</span>
						</td>
						<td>
							<span :style="{ color: owner.isCheck === 1 ? 'green' : 'red' }">
								<i :class="owner.isCheck === 1 ? 'fa fa-check-circle' : 'fa fa-times-circle'"></i>
							</span>
						</td>
						<td>{{owner.houseCount}}</td>
						<td>{{owner.sort}}</td>
						<td>{{owner.notes}}</td>
						<td>{{owner.createTime}}</td>
						<td>{{owner.updateTime}}</td>
						<td>
							<button class="btn btn-sm btn-success" @click="edit(owner.id)">
								<i class="fa fa-pencil"></i>
							</button>
							<button class="btn btn-sm btn-danger" @click="remove(owner.id)">
								<i class="fa fa-trash"></i>
							</button>
							<button class="btn btn-sm btn-warning" @click="log(owner.ownName)">
								<i class="fa fa-list"></i>安检记录
							</button>
						</td>
					</tr>
				</table>
			</div>
			<!-- 分页 -->
			<div class="d-flex flex-row justify-content-between">
				<div>
					<span>总页数：</span><span>{{pageUtil.totalPages}}</span>
					<span>总条数：</span><span>{{pageUtil.dataCount}}</span>
				</div>
				<ul class="pagination pagination-sm">
					<li class="page-item">
						<a class="page-link" @click="showStudentPage(1)" style="cursor: pointer;">首页</a>
					</li>
					<li class="page-item" v-if="pageUtil.pageNumber > 1">
						<a class="page-link" @click="showStudentPage(pageUtil.pageNumber - 1)"
							style="cursor: pointer;">上一页</a>
					</li>
					<li class="page-item">
						<a class="page-link active" href="javascript:;"
							style="cursor: pointer;">{{ pageUtil.pageNumber }}</a>
					</li>
					<li class="page-item" v-if="pageUtil.pageNumber < pageUtil.totalPages">
						<a class="page-link" @click="showStudentPage(pageUtil.pageNumber + 1)"
							style="cursor: pointer;">下一页</a>
					</li>
					<li class="page-item">
						<a class="page-link" @click="showStudentPage(pageUtil.totalPages)"
							style="cursor: pointer;">末页</a>
					</li>
				</ul>
			</div>
		</div>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					isShowSearchBox: false,
					selectAll: false,
					comAddressList: null,
					searchOwn: {
						id: "",
						comName: "",
						comType: "",
						createTime: "",
						updateTime: ","
					},
					pageUtil: {
						ownerList: null,
						dataCount: null,
						pageSize: 10,
						totalPages: null,
						pageNumber: null,
						beginIndex: 1,
					},
					searchOwn: {
						id: "",
						ownName: "",
						ownPhone: "",
						comAddress: "",
						houseNumber: "",
						peopleCount: "",
						isSafe: "",
						isCheck: "",
						houseCount: "",
						sort: "",
						notes: "",
						createTime: "",
						updateTime: "",
					},
				},
				methods: {
					searchBox: function() {
						axios.get("/Community/ownerAddCommunityName").then(function(response) {
							app.comAddressList = response.data.slice(1, -1).split(", ");
						}).catch(function(err) {
							console.log(err);
						});
						this.isShowSearchBox = !this.isShowSearchBox;
					},
					search: function() {
						alert("待实现");
					},
					reset: function() {
						app.searchOwn = "";
					},
					refresh: function() {
						location.href = "ownerShowAll.html";
					},
					showStudentPage: function(pageNumber) {
						axios.get("/Community/ownerShowAll?pageNumber=" + pageNumber).then(
							function(res) {
								app.pageUtil.ownerList = res.data.list;
								app.pageUtil.totalPages = res.data.totalPages;
								app.pageUtil.dataCount = res.data.dataCount;
								app.pageUtil.pageSize = res.data.pageSize;
								app.pageUtil.pageNumber = res.data.pageNumber;
								app.pageUtil.beginIndex = res.data.beginIndex;
							}
						).catch(function(err) {
							console.log(err);
						})
					},
					add: function() {
						location.href = "ownerAdd.html";
					},
					remove: function(ids) {
						const deleteFlag = confirm("确认删除?");
						if (deleteFlag) {
							axios.post("/Community/ownerDelete?ids=" + ids)
								.then(function(response) {
									if (response.data.trim() === 'ok') {
										app.showStudentPage();
									} else {
										alert("删除失败");
									}
								}).catch(function(err) {
									console.log(err);
								})
						}
					},
					edit: function(id) {
						localStorage.setItem("own_id", id);
						location.href = "ownerEdit.html";
					},
					log: function(ownName) {
						localStorage.setItem("own_Name", ownName);
						location.href = "safeLogOwnerAndSafePerson.html";
					},
					selectAllRows() {
						this.pageUtil.ownerList.forEach(owner => {
							owner.selected = this.selectAll;
						});
					},
					updateSelectAll() {
						this.selectAll = this.pageUtil.ownerList.every(owner => owner.selected);
					},
					selectremove: function() {
						const selectedowner = this.pageUtil.ownerList.filter(owner => owner.selected);
						if (selectedowner.length === 0) {
							alert("批量选择为空,重新选择");
						} else {
							const deleteFlag = confirm("确认删除选中业主?");
							if (deleteFlag) {
								const ids = selectedowner.map(owner => owner.id);
								axios.post("/Community/ownerDelete?ids=" + ids)
									.then(function(response) {
										if (response.data.trim() === 'ok') {
											app.showStudentPage();
										} else {
											alert("删除失败");
										}
									}).catch(function(err) {
										console.log(err);
									})
							}
						}
					},
				},
				created() {
					this.showStudentPage();
				},
			});
		</script>
	</body>
</html>