<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ownerAdd</title>
		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../font/css/font-awesome.css">
		<script src="../js/vue.js"></script>
		<script src="../js/qs-6.9.4.js"></script>
		<script src="../js/axios-0.21.0.js"></script>
		<style>
			td {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<form id="form" class="d-flex flex-row justify-content-center">
			<div class="col-5">
				<table class="table table-bordered">
					<tr>
						<td class="bg-light-subtle text-center align-middle">业主姓名</td>
						<td>
							<input type="text" class="form-control" v-model="owner.ownName">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">业主电话</td>
						<td>
							<input type="tel" class="form-control" v-model="owner.ownPhone">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">所属小区/商铺/别墅</td>
						<td>
							<select class="form-control" v-model="owner.comAddress">
								<option value="" selected>--选择--</option>
								<option v-for="(comAddress) in comAddressList" :value="comAddress">{{comAddress}}
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">房间号/地址</td>
						<td>
							<input type="text" class="form-control" v-model="owner.houseNumber">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">家庭成员数</td>
						<td>
							<input type="number" class="form-control" v-model="owner.peopleCount">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">设备是否安全</td>
						<td>
							<input type="radio" name="isSafe" value="1" class="form-check-inline"
								v-model="owner.isSafe">安全&nbsp;
							<input type="radio" name="isSafe" value="0" class="form-check-inline"
								v-model="owner.isSafe">不安全
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">是否入户安检</td>
						<td>
							<input type="radio" name="isCheck" value="1" class="form-check-inline"
								v-model="owner.isCheck">是&nbsp;
							<input type="radio" name="isCheck" value="0" class="form-check-inline"
								v-model="owner.isCheck">否
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">入户次数</td>
						<td>
							<input type="number" class="form-control" v-model="owner.houseCount">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">排序</td>
						<td>
							<input type="number" class="form-control" v-model="owner.sort">
						</td>
					</tr>
					<tr>
						<td class="bg-light-subtle text-center align-middle">备注</td>
						<td>
							<textarea cols="20" rows="2" class="form-control" style="resize: none;"
								v-model="owner.notes"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="button" value="添加" class="form-control btn btn-success" @click="add()">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="button" value="返回列表" class="form-control btn btn-secondary" @click="back()">
						</td>
					</tr>
				</table>
			</div>
		</form>
		<script>
			var app = new Vue({
				el: "#form",
				data: {
					owner: {
						ownName: "",
						ownPhone: "",
						comAddress: "",
						houseNumber: "",
						peopleCount: "",
						isSafe: "",
						isCheck: "",
						houseCount: "",
						sort: "",
						notes: "",
					},
					comAddressList: null,
				},
				methods: {
					add: function() {
						axios.post("/Community/ownerAdd", Qs.stringify(this.owner)).then(function(response) {
							if (response.data.trim() === "ok") {
								location.href = "ownerShowAll.html";
							} else {
								alert("添加失败");
							}
						}).catch(function(err) {
							console.log(err);
						})
					},
					back: function() {
						location.href = "ownerShowAll.html";
					},
				},
				created() {
					axios.get("/Community/ownerAddCommunityName").then(function(response) {
						app.comAddressList = response.data.slice(1, -1).split(", ");
					}).catch(function(err) {
						console.log(err);
					});
				}
			});
		</script>
	</body>
</html>